<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="bar">
	<div class="ll">
	<label id="lid1"><a href="/"> Home</a></label>
	<label id="lid"><a href = "/Registration"  class="regs"><span title="for authorized person only">Case Regisration</span></a></label>
	<label id="lid"><a href="/login">Login</a></label>
	<label id="lid"><a href="./routehandeler/route.js">Notification</a></label>
</div>
</div>
<div class="news">
	<div class="no">
<label >
    Notifications
	</label>
	</div>
</div>
<div class="footer">
<footer>
  <label >Author: Sanguine 6<br></label>
  <label><a href="mailto:Sanguine6@example.com">Sanguine6@example.com</a></label>
</footer>
</div>
</body>
</html>